.container{
    /* display: flex;
    flex-direction: column; */
    padding-top: 200px;
    height: fit-content;
}



.photo{
    height: 70vh;
}

picture:hover {
    /* cursor: pointer; */
}

.firstRank{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.firstRank > div {
    height: 100%;
    width: 50%;
}

.photo1{
    height: 70vh;
}

.photo2{
    height: 60vh;
}

.photo3{
    height: 70vh;
    margin-left: 30vw;
    margin-top: 1vh;
}

.photo4{
    height: 70vh;
    margin-top: 1vh;
    margin-right: 30vw;

}

.lastRank{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.lastRank > div {
    height: 100%;
    width: 47%;
}

.photo5 {
    margin-bottom: 5vh;
    height: 70vh;
    margin-top: 20vh;
}


.photo6 {
    margin-top : 1vh;
}

.photo7 {
    margin-left: 20vw;
}

.photo8 {
    margin-right: 25vw;
    margin-top: 1vh;
}

.close {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 22;
    border: none;
    background-color: white;
    color: grey;
    font-size: 2rem;
}

.close:hover{
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

    .container{
        padding-top: 140px;
    }

    .photo {
        height: 30vh
    }

    .photo-2 {
        height:25vh;
    }

    .firstRank, .lastRank{
        height: 30vh;
    }

    .photo-5{
        margin-top: 1vh;
    }

}