.video-div {
    margin-top: 15vh;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width:560px ;
    height:315px ;
}

@media screen and (max-width: 650px) {
    .video-div{
        height: 50vh;
    }

    .video {
        width:98vw ;
        height:calc(56.25 / 100 * 98vw) ;
    }
}